/* HEADER */


#header{
    background: #fff;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
}

/* .header-opacity{
    opacity: 0.7;
    transition: all 0.7s;
} */

.header__navbar-item>a:after{
    content: '';
    position: absolute;
    bottom: -9px;
    left: -4px;
    width: 112%;
    height: 2px;
    margin: 0;
    background-color: #000;
    transition: all .3s ease-in-out;
    transform-origin: 50% 50%;
    transform: scale3d(0,1,1);
}

.header__navbar-item:hover.header__navbar-item>a:after{
    content: '';
    position: absolute;
    bottom: -9px;
    left: -4px;
    width: 112%;
    height: 2px;
    margin: 0;
    background-color: #000;
    transition: all .3s ease-in-out;
    transform-origin: 50% 50%;
    transform: scale3d(1,1,1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1368px;
    position: relative;
}

.header__logo a{
    text-decoration: none;
    font-size: #333;
}

.header__logo a h2{
    margin-bottom: 0px;
    margin-top: 13px;
    color: #333;
    font-family: serif;
    font-size: 48px;
}


.header__navbar{
    display: inline-flex;
}

.header__navbar-list{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    display: inline-flex;
}

.header__navbar-item{
    padding: 30px 55px 30px 0px;
    font-size: 16px;
    font-weight: 450;
}


.header__navbar-item a{
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.header__navbar-item a:hover{
    color: #d11a1a;
    transition: all 0.7s;
}


.header__navbar-item--icon{
    padding: 30px 10px;
}

.header__navbar-item--icon a{
    color: #333;
}

.header__subnavbar-list{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    position: absolute;
    background: #fff;
    top: 84px;
    display: none;
    box-shadow: 0px 0px 3px 0px;
}

.header__subnavbar-item{
    border-bottom: 1px solid #cabcbc;
}


.header__subnavbar-item a{
    display: block;
    padding: 14px 10px 14px 10px;
    width: 250px;
}

.header__navbar-list .header__navbar-item {
    position: relative;
}


ul.header__subnavbar-list a{
    display: block;
    padding: 14px 10px 14px 10px;
    width: 250px;
    font-weight: 350;
}

ul.header__subnavbar-list a:hover{
    padding-left: 20px;
    color: red;
    transition: all 0.7s;
}

.header__navbar-item--icon a span{
    background: red;
    padding: 0px 6px 2px 6px;
    border-radius: 17px;
    font-size: 11px;
    position: absolute;
    top: 20px;
    right: 0px;
}

/* ======================FORM========================= */
.header__navbar-item--icon:nth-child(2){
    position: relative;
}

.header__overlay-user{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgb(21 7 7 / 40%);
    display: none;
}

.header__login:before{
    content: '';
    position: absolute;
    right: 72px;
    bottom: 100%;
    border: 18px solid #fff;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 0;
}

.header__login{
    position: fixed;
    right: 10px;
    top: 110px;
    display: inline-block;
    width: 90%;
    height: auto;
    max-width: 620px;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    z-index: 8;
    display: none;
}


.header__login-input {
    font-size: 20px;
    padding: 14px;
    border-radius: 10px;
    outline: none;
    margin-right: 0px;
    width: 49%;
}

.header__user{
    justify-content: space-between;
    display: flex;
}

.header__btn-login{
    position: relative;
}

.header__btn-login:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 33px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 20px;
    top: 30px;
    left: 9px;
}

.header__login-submit{
    padding: 14px 18px 14px 31px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 11px;
    outline: none;
    color: #fff;
    background: #333;
    font-weight: 600;
}

.header__btn-login {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.header__login-submit:hover{
    opacity: 0.7;
    transition: all 0.7;
}

.header__btn-login a {
    background: #eee;
    padding: 17px 19px;
    border-radius: 11px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

.header__btn-reg a i{
    padding-right: 13px;
}


/* ======================END-FORM==================== */

/*====================== SEARCH======================= */

.header__search{
    position: absolute;
    top: 84px;
    /* height: 30vh; */
    padding: 30px 0;
    width: 100%;
    background-color: #F4F4F4;
    display: none;
}


.header__formsearch{
    text-align: center;
}

.header__input-search{
    width: 71%;
    font-size: 30px;
    padding: 5px 0px;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
}

.header__submit-search{
    width: 29%;
    font-size: 19px;
    padding: 9px 0px;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 67px;
}

.header__submit-search {
    width: 29%;
    font-size: 19px;
    padding: 9px 0px;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 67px;
    background: #333;
    color: #fff;
}

.header__submit-search:hover{
    background: #913636;
    transition: all 0.7s;
}

.header__close{
    position: absolute;
    top: 4px;
    right: 13px;
    cursor: pointer;
    font-size: 20px;
}

.header__close:hover{
    color: red;
    transition: all 0.7s;
}
/* =====================END-SEARCH==================== */

/* ======================CART========================= */
.header__navbar-item--icon:last-child{
    position: relative;
}
.header__cart{
    position: absolute;
    background: #fff;
    right: -9px;
    cursor: pointer;
    top: 64px;
    z-index: 100;
    display: none;
    box-shadow: 0px 0px 2px 0px;
}

.header__total{
    padding: 10px 0px 10px 23px;
    margin-bottom: 0px;
}

.header__total span{
    padding-left: 30px;
}

.header__cart-show h3{
    width: 224px;
    margin-bottom: 0px;
    font-size: 17px;
    text-align: center;
    background: #333;
    border-radius: 8px;
    margin: 10px 21px;
    padding: 10px;
}

.header__cart-show h3:hover{
    background: #913636;
    transition: all 0.7s;
}

.header__cart-show h3 a{
    text-decoration: none;
    color: #fff;
}

.header__cart i{
    position: absolute;
    top: -22px;
    right: 16px;
    font-size: 33px;
    color: #e5dcdc;
}

.header__cart-list{
    list-style: none;
    padding-left: 0px;
}

.header__cart-list a img{
    width: 65px;
    transform: translateY(10px);
    margin-right: 10px;
}

.header__cart-item{
    display: flex;
}

.header__flexColunm{
    display: flex;
    flex-direction: column;
}

.header__cart-name{
    margin-bottom: 0px;
}

.header__qty{
    margin-bottom: 0px;
}

.header__cart-item{
    padding: 10px 0px 8px 0px;
    border-bottom: 1px solid #d0baba;
}
/* ======================END-CART==================== */
/* ======================MENU-PRODUCT================ */

.header__navbar-item:first-child{
    position: relative;
}
.header__product{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 83px;
    width: 100%;
    padding: 45px 0px;
    display: none;
    z-index: 9;
    background-color: #fff;
    border-top: 1px solid #e5dfdf;
}

.header__product-list{
    list-style: none;
}

.header__product-menu--list{
    list-style: none;
    padding-left: 0px;
}

.header__product-menu--item{
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 350;
}

.header__product-name{
    padding: 9px;
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 550;
    color: #8c8888;
}

.header__imgproduct img{
    height: 410px;
    position: relative;
}

.header__product-menu{
    position: relative;
}
/* ============================CLOSE====================== */

.header__container-menu {
    padding: 58px 0px;
}

.header__menu-inner--x:after, .header__menu-inner--x:before{
    position: absolute;
    right: 30px;
    content: '';
    height: 2px;
    width: 48px;
    background: #9D0E01;
}

.header__menu-inner--x:before{
    transform: rotate(45deg);
    top: 18px;
}

.header__menu-inner--x:after{
    transform: rotate(-45deg);
    top: 18px;
}

.header__menu-inner--x:after{
    cursor: pointer;
}

.header__menu-close{
    background: #fff;
    width: 56px;
    height: 37px;
    margin-left: 1368px;
    cursor: pointer;
}

.header__menu-close p{
    text-align: end;
    padding-right: 36px;
    margin-bottom: 0px;
    padding: 6px 35px;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}

/* ====================END-CLOSE========================== */

.header__allproduct{
    position: absolute;
    bottom: 189px;
    right: 189px;
    font-size: 18px;
}

.header__allproduct:hover .header__allproduct-icon i{
    color: #913636;
    transform: translateX(76%);
    transition: all 0.7s;
}

.header__product-all{
    position: absolute;
    top: 70px;
    left: 245px;
    display: none;
}


.header__product-all a, 
.header__product-all i {
    color: #913636;
}

.header__product-submenu{
    list-style: none;
    padding-left: 0px;
    position: absolute;
    left: 223px;
    top: 71px;
    display: none;
}

.header__product-submenu--item{
    padding: 0px 0px 15px;
}

.header__product-submenu--item a{
    color: #913636;
    font-weight: 600;
}

.header__menu-active{
    display: block!important;
}

/* =====================END-MENU-PRODUCT============= */


/* ====================RESPONSIVE-NAVBAR============ */
.header__respon{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    width: 50%;
    overflow-y: scroll;
    display: none;
}

::-webkit-scrollbar{
    width: 10px;
    background: lightgray;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

.header__respon-list{
    list-style: none;
    padding-left: 0px;
}

.header__respon-item{
    border-bottom: 1px solid rgb(224 207 207 / 40%);
    position: relative;
    display: block;
}


.header__respon-item a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: 480;
    font-size: 20px;
    width: 85%;
    display: block;
    padding: 16px;

}



.header__respon-arrow{
    position: absolute;
    right: 0;
    top: 2px;
    margin: 0;
    width: 50px;
    display: block!important;
    height: 61px;
    text-align: center;
    border-left: 1px solid #f1f1f1;
    line-height: 34px;
    font-size: 15px;
    overflow: hidden;
    z-index: 10;
    color: inherit;
    -webkit-transform: translateY(0)!important;
    -ms-transform: translateY(0)!important;
    transform: translateY(0)!important;
    padding: 14px 0px;
}

.header__subrespon-list{
    list-style: none;
    padding-left: 0px;
    display: none;
}

.header__subrespon-item{
    border-bottom: 1px solid #f2dede;
}

.header__subrespon-item a{
    border-right: none;
}

.header__subrespon-item:first-child{
    border-top: 1px solid #f2dede;
}

.header__subrespon-item a{
    padding: 10px 16px;
    font-size: 19px;
    font-weight: 350;
    width: 100%;
}

.header__subrespon-item a:hover{
    color: #913636;
    transition: all 0.7s;
}

.header__respon-head h3{
    margin-bottom: 0px;
    border-bottom: 1px solid #f2dede;
    padding: 16px 12px;
    font-size: 22px;
    font-weight: 350;
}

.header__respon-icon--arrow{
    transform: rotate(-90deg);
}


.header__responproduct-list{
    list-style: none;
    padding-left: 0px;
    border-top: 1px solid #f2dede;
    padding-bottom: 70px;
    display: none;
}

.header__respon-menu{
    list-style: none;
    padding-left: 0px;
}

.header__respon-menu--item a{
    padding: 9px;
    font-size: 16px;
    color: #beb1b1;
}

.header__respon-head{
    position: relative;
}

.header__respon-menu i{
    position: absolute;
    top: 9px;
    right: 22px;
    font-size: 34px;
    cursor: pointer;
    color: #b0a7a7;
}

.header__respon-menu--name{
    padding: 10px 6px;
    font-size: 27px;
    text-transform: uppercase;
}

.header__responallproduct a.header__responallproduct-name{
    font-size: 14px;
    padding: 0px 16px;
}

.header__responallproduct a.header__responallproduct-icon i{
    position: absolute;
    top: 153px;
    right: 79px;
}

.header__responproduct-submenu{
    list-style: none;
    padding-left: 20px;
    display: none;
}


.header__responproduct-submenu{
    color: #913636;
    font-weight: 600;
}

.header__responproduct-all a{
    padding: 11px 22px;
    color: #971313;
    font-weight: 600;
}

.header__bars i{
    font-size: 43px;
    cursor: pointer;
    display: none;
}


/* ====================END-RESPONSIVE-NAVBAR============ */

/* END-HEADER */

.owl-stage{
    padding-top: 37px;
}



/* CONTENT */
/* =================OWL-CAROUSEL============= */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    display: none;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none!important;
}

#content{
    padding-bottom: 56px;
}

.content__item{
    background-image: url("https://xuongnoithatdep.com/upload/images/noi-that-go-cong-nghiep-gia-re-01.jpg");
}

.content__slider{
    position: relative;
}

.content__product{
    margin-top: 40px;
}

.content__buynow{
    position: absolute;
    background: #fff;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translate(50%, 10px);
    padding: 10px 27px;
}

.content__buynow:hover{
    background: #9D0E01;
    transition: all 0.7s;
}


.content__buynow a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

.content__buynow:hover.content__buynow a{
    color: #fff;
    transition: all 0.8s;
    font-weight: 450;
}

.header__overlay{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgb(21 7 7 / 40%);
    display: none;
}

/* =================END-OWL-CAROUSEL=========== */

.content__navbar-list{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 88%;
}

.content__navbar-item{
    flex: 0 0 30%;
    max-width: 25%;
    position: relative;
}

.content__navbar-item a{
    display: block;
    position: relative;
}

.content__navbar-item img{
    width: 100%;
    padding: 10px 8px;
}

.content__container{
    max-width: 1360px;
}

.content__divtext h3{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
}

.content__readmore{
    position: absolute;
    top: 51%;
    right: 50%;
    transform: translate(50%, 10px);
    color: #fff;
    opacity: 0;
}

.content__title2{
    position: absolute;
    top: 78%;
    right: 50%;
    color: #fff;
    text-transform: uppercase;
    transform: translate(50%, -10%);
    background: #333;
    padding: 7px 21px;
    font-size: 20px;
}

.content__navbar-item a:hover .content__title2{
    margin-top: 40px;
    opacity: 0;
    transition: all 0.7s;
}

.content__navbar-item a:hover .content__divtext h3{
    opacity: 0.7;
    transition: all 0.7s;
    margin-top: -40px;
    letter-spacing: 3px;
}

.content__navbar-item a:hover .content__readmore{
    opacity: 0.7;
    transition: all 0.7s;
    margin-top: -25px;
}

.content__readmore:hover{
    color: red;
}

/* ===========================DEMO-ACCOUNT====================== */


.content__title-logo img{
    width: 63%;
}

.content__title h2{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 42px;
}

.content__title span.content__logo {
    font-size: 47px;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}

.content__title span.content__introduce{
    border-bottom: 3px solid #ad9906;
}

.content__title-live{
    text-align: center;
    text-transform: uppercase;
}

.content__title-live h2{
    font-size: 36px;
    font-weight: 300;
    margin: 26px 0px;
}

.content__title-live h2 span{ 
    font-weight: bold;
}

.content__intro-show{
    padding-bottom: 60px;
}

.content__intro-list{
    padding-top: 6px;
    font-size: 18px;
    padding-bottom: 18px;
    text-align: center;
    width: 48%;
    height: auto;
    min-width: 800px;
    display: block;
    position: relative;
    margin: 0px auto;
}

.content__intro-list p{
    text-align: justify;
}

.content__intro-pic{
    padding-top: 6px;
    font-size: 18px;
    padding-bottom: 18px;
    text-align: center;
    width: 48%;
    height: auto;
    min-width: 800px;
    display: block;
    position: relative;
    margin: 0px auto;
}


.content__intro-pic::after{
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,.5);
    transition: .5s ease-in-out;
}

.content__intro-pic h4{
    margin: 0px;
    position: absolute;
    top: 50%;
    right: 50%;
    color: #fff;
    transform: translate(50%, -50%);
    font-weight: 700;
    font-size: 84px;
    z-index: 10;
    opacity: 0;
    transition: .5s ease-in-out;
}

.content__intro-pic:hover.content__intro-pic::after{
    height: 94%;
}

.content__intro-pic:hover.content__intro-pic h4{
    opacity: 1;

}

.content__intro-pic img{
    max-width: 100%;
}


.content__intro-item{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 57px;
}

.content__intro-item p{
    width: 47%;
    display: block;
    width: 692px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 26px;
    -webkit-line-clamp: 13;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.content__intro-item img{
    display: block;
    width: 34%;
}

/* ===========================END-DEMO-ACCOUNT================= */
.content__newspaper-list{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content__newspaper-item{
    flex: 0 0 28%;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.content__newspaper h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    padding: 54px 0px 20px 0px;
    position: relative;
}

.content__newspaper h1:before{
    content: '';
    background: #e9cdcd;
    width: 200px;
    height: 3px;
    position: absolute;
    bottom: 9px;
    right: 43%;

}

.content__newspaper{
    background: rgb(187 131 94 / 80%);
}

.content__newspaper-img a img{
    width: 400px;
    height: 245px;
}

.content__newspaper-name a{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: .4s ease-in-out all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: inline-block;
    display: -webkit-box;
    transition: all .4s ease-in-out;
    overflow: hidden;
    padding-top: 17px;
}
.content__newspaper-move a{
    text-decoration: none;
    color: #333;
}

.content__newspaper-move a:hover{
    color: red;
    transition: all 0.7s;
}


.content__newspaper-move a:hover .content__move-icon{
    padding-left: 10px;
    transition: all 0.7s;
    color: red;
}

.content__newspaper-img{
    overflow: hidden;
}

.content__newspaper-img img:hover{
    transform: scale(1.3);
    transition: all 0.7s;
}

/* END-CONTENT */


/* =====================FOOTER===================== */
.footer__container{
    max-width: 1400px;
}

#footer{
    background-image: url(https://lh3.googleusercontent.com/proxy/1sRUglUbahDbQTvPIm-Q1U3NQ5uh6lR9l41vyCfSwn1EKubo2KxnE3hdJEJ26316LGNJznjHxxMIHbBJnpDQ-B9Mi6gXWrn5XpdJFzVjbUz51s4d);
    padding-top: 117px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background: cadetblue;
    position: sticky;
    z-index: 0;
}

.footer__form{
    display: flex;
}


.footer__contact-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    font-family: emoji;
    position: relative;
}

.footer__contact-wrapper h5{
    padding-top: 24px;
}

.footer__contact-wrapper p{
    display: flex;
    flex-direction: column;
}

.footer__contact-title span{
    border-bottom: 3px solid #ceccbf;
}

.footer__address{
    font-size: 17px;
    display: inline-block;
    font-weight: 350;
    color: #070000;
}

a.footer__phone, a.footer__mail{
    text-decoration: none;
    color: #333;
}

.form-group input, .form-group textarea{
    font-size: 21px;
}

.form-group textarea{
    height: 169px;
}

.footer__send{
    padding: 10px 85px;
    text-transform: uppercase;
    font-weight: 600;
    background: rgb(255 255 255 / 30%);
    border: none;
}

.footer__send:hover{
    background: #baba0e;
    transition: all 0.7s;
    color: #fff;
}

/* =====================END-FOOTER================== */

/*======================= COPYRIGHT================ */
#copyright{
    position: sticky;
    z-index: 0;
}
.copyright__text i{
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 8px 0px;
}

.copyright__text h3{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.copyright__text {
    background: #ef5f5f;
}
/*======================= END-COPYRIGHT================ */